---
import RootLayout from "../components/RootLayout.astro";
---

<RootLayout title="not found">
  <main
    class="flex flex-1 flex-col items-center justify-center p-2 pt-0 font-mono space-y-16"
  >
    <span class="text-3xl text-violet-600"> This page does not exist!</span>
    <p class="text-center text-lg leading-8 max-w-lg">
      The link may have been valid in the past but has now expired. If you were
      expecting a secret here, please request it to be shared again.
    </p>
    <a href="/" class="text-violet-600">Go to main page</a>
  </main>
</RootLayout>
