---
import RootLayout from "./RootLayout.astro";

---

<RootLayout title={Astro.props.title}>
  <main
    class="flex flex-1 flex-col items-center justify-start p-2 pt-0 font-mono"
  >
    <slot />
  </main>
</RootLayout>
