---
import RevealSecretForm from "../../components/RevealSecretForm.svelte";
import Layout from "../../components/Layout.astro";
import { kv } from "../../lib/kv";

export const prerender = false;

const id = Astro.params.id;
const data = id ? await kv.get(id) : null;

if (data === null) {
  return Astro.redirect("/404");
}
---

<Layout>
  <div class="p-2 bg-white rounded max-w-[640px] w-full">
    <RevealSecretForm id={id} encryptedData={data} client:visible />
  </div>
</Layout>
